@page "/"
@inherits IndexBase;

<div class="block mx-auto w-full max-w-tablet" grid="columns 2 gap-2">
    <div class="radius-0.5 p-2 bg-white shadow-md border-1 border-solid border-grey-300 block w-full">
        <h1 class="font-medium block mb-2.5 font-lg text-center">Register</h1>
        <EditForm Model="@RegistrationForm" OnValidSubmit="@RegisterUser" grid="columns 1 gap-1.5">
            <DataAnnotationsValidator />
            <div class="input">
                <label for="registerEmail">Email Address</label>
                <InputText type="email" id="registerEmail" @bind-Value="@RegistrationForm.Email" />
                <ValidationMessage For="@(() => RegistrationForm.Email)" />
            </div>
            <div class="input">
                <label for="registerPassword">Password</label>
                <InputText type="password" id="registerPassword" @bind-Value="@RegistrationForm.Password" />
                <ValidationMessage For="@(() => RegistrationForm.Password)" />
            </div>
            <button type="submit" class="button -solid -primary block w-full">
                Register
            </button>
        </EditForm>
    </div>
    <div class="radius-0.5 p-2 bg-white shadow-md border-1 border-solid border-grey-300 block w-full">
        <h1 class="font-medium block mb-2.5 font-lg text-center">Login</h1>
        <EditForm Model="@LoginForm" OnValidSubmit="@LoginUser" grid="columns 1 gap-1.5">
            <DataAnnotationsValidator />
            <div class="input">
                <label for="loginEmail">Email Address</label>
                <InputText type="email" id="loginEmail" @bind-Value="@LoginForm.Email" />
                <ValidationMessage For="@(() => LoginForm.Email)" />
            </div>
            <div class="input">
                <label for="loginPassword">Password</label>
                <InputText type="password" id="loginPassword" @bind-Value="@LoginForm.Password" />
                <ValidationMessage For="@(() => LoginForm.Password)" />
            </div>
            <button type="submit" class="button -solid -primary block w-full">
                Log in
            </button>
        </EditForm>
    </div>
</div>
