@inherits AppShellBase
@using Client.Models.Globals
@using Client.Shared.Modals

@if (CanRender){
	<main class="app-shell">
		<a href="/dashboard" class="app-logo pb-0.125">
			<span>App Name</span>
		</a>
		<header class="app-header">
			<button class="profile-button" aria-label="open profile menu" tooltip="Account details">
				@if (String.IsNullOrEmpty(CurrentUser.Avatar)){						
					<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="user-alt" class="svg-inline--fa fa-user-alt fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M256 288c79.5 0 144-64.5 144-144S335.5 0 256 0 112 64.5 112 144s64.5 144 144 144zm128 32h-55.1c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16H128C57.3 320 0 377.3 0 448v16c0 26.5 21.5 48 48 48h416c26.5 0 48-21.5 48-48v-16c0-70.7-57.3-128-128-128z"></path></svg>
				} else {
					<img src="@CurrentUser.Avatar" alt="Your profile photo">
				}
			</button>
			<div class="profile-modal">
				<div class="avatar">
					@if (String.IsNullOrEmpty(CurrentUser.Avatar)){						
						<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="user-alt" class="svg-inline--fa fa-user-alt fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M256 288c79.5 0 144-64.5 144-144S335.5 0 256 0 112 64.5 112 144s64.5 144 144 144zm128 32h-55.1c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16H128C57.3 320 0 377.3 0 448v16c0 26.5 21.5 48 48 48h416c26.5 0 48-21.5 48-48v-16c0-70.7-57.3-128-128-128z"></path></svg>
					} else {
						<img src="@CurrentUser.Avatar" alt="Your profile photo">
					}
				</div>
				<h2 class="block text-center font-grey-800 line-normal font-medium font-md">@CurrentUser.Name</h2>
				<h3 class="block text-center font-grey-700 line-normal font-sm ">@CurrentUser.Email</h3>
				<button @onclick="OpenProfileModal" class="mx-auto mt-1 button -outline -grey -pill">Manage your profile</button>
				<hr>
				<a class="mx-auto button -outline -grey -rounded" href="/logout">Sign out</a>
				<hr>
				<div class="w-full px-1 mb-1.25 pt-0.25" flex="justify-center items-center row nowrap">
					<a class="link font-xs font-grey-700" href="#">Privacy Policy</a>
					<svg class="font-grey-400" style="display: inline-block;margin:0 0.5rem;width:4px;height:4px;" aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z"></path></svg>
					<a class="link font-xs font-grey-700" href="#">Terms of Service</a>
				</div>
			</div>
		</header>
		<aside class="app-aside">
			<nav>
				<NavLink href="/dashboard" Match="NavLinkMatch.All">Dashboard</NavLink>
				@if (CurrentUser.Admin){
					<NavLink href="/admin/users">Manage Users</NavLink>
				}
			</nav>
		</aside>
		<section class="app-body">
			@Body
		</section>
	</main>
	@if (AppSettings.ActiveModal != AppSettings.Modal.None){
		<div class="fixed-modal">
			<div class="modal-background" @onclick="CloseModal"></div>
			@switch (AppSettings.ActiveModal){
				case AppSettings.Modal.Profile:
					<EditProfileModal CloseModal="@CloseModal"></EditProfileModal>
					break;
				default:
					break;
			}
		</div>
	}
}
